
{% extends '::base.html.twig' %}

{% block center %}






















<div class="span12">
                    <div class="td-grid-wrap">
                        <div class="container-fluid">
                            <div class="row-fluid ">
                        <div class="span8 column_container td-post-content" role="main" itemprop="mainContentOfPage">
                    <div class="entry-crumbs"><span itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a title="" class="entry-crumb" itemprop="url" href="https://www.thedisruptory.com/fr"><span itemprop="title">Accueil</span></a></span> <span class="td-sp td-sp-breadcrumb-arrow td-bread-sep"></span> <span itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a title="View all posts in Actualités" class="entry-crumb" itemprop="url" href="../../../category/actualites/index.html"><span itemprop="title">Actualités</span></a></span> <span class="td-sp td-sp-breadcrumb-arrow td-bread-sep"></span> <span itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><meta itemprop="title" content = "Innorobots 2015">Innorobots 2015 </span></div>
        <article id="post-15274" class="post-15274 post type-post status-publish format-standard has-post-thumbnail hentry category-actualites category-business" itemscope itemtype="https://schema.org/Article">

        <header>

            <h1 itemprop="name" class="entry-title">Club elect :</h1>
            <div class="meta-info">
                <ul class="td-category"><li class="entry-category"><a  style="background-color:#81d742;" href="../../../category/actualites/index.html">Club Elect</a></li><li class="entry-category"><a  href="../../../category/actualites/business/index.html">Ensit</a></li></ul>                                <time  itemprop="dateCreated" class="entry-date updated" datetime="2017-07-20T23:03:09+00:00" >Juil. 20, 2017</time><meta itemprop="interactionCount" content="UserComments:0"/>                <div class="entry-comments-views"><span class="td-sp td-sp-ico-comments td-fake-click" data-fake-click="index.html#respond"></span>0 <span class="td-sp td-sp-ico-view"></span><span class="td-nr-views-15274">1</span></div>            </div>
        </header>


        

        <div class="td-post-featured-image"><a href="elect.jpg" data-caption=""><img width="700" height="390" itemprop="image" class="entry-thumb td-modal-image" src="elect.jpg" alt="" title="Ciros"/></a></div>
        <div class="td-post-text-content">
            
<ul>

<li>

Club ELEC ENSIT est fondé en 2004 avec des intérêts orientés vers la technologie et l’innovation au fond de l’ESSTT, et aujourd’hui, il est connu comme le club le plus expérimenté au sein de l’ENSIT où il est très actif en lançant des projets et des événements liés à la robotique. Notre club a pour but de bien guider les nouveaux étudiants à la découverte de la vie associative.</li>












        <div class="clearfix"></div>

        <footer>
                                           
            <div class="td-social-sharing">
                </div>           <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FINNOROBOTS&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=135621433514870" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </li></ul></div>            <div class="wpb_row row-fluid next-prev"><div class="span6 prev-post"><div><img width="6" class="td-retina" src="{{asset('wp/themes/Newspaper/images/icons/similar-left.png')}}" alt=""/>< ARTICLE PRÉCÉDENT</div><a href="{{path('inno-2016')}}">Concours national de robotique  Innorobots&#8211; 2016</a></div><div class="span6 next-post"><div>
Article suivant > <img width="6" class="td-retina" src="{{asset('wp/themes/Newspaper/images/icons/similar-right.png')}}" alt=""/></div><a href="{{path('conf')}}">Conférence de presse Innorobots 2017</a></div></div>            <div class="td-author-name vcard author" style="display: none"><span class="fn"><a href="{{path('conf')}}"></a></span></div>

            <meta itemprop="author" content = "TheDisruptory Team">        </footer>

    </article> <!-- /.post -->

    <div class="art-img-text-down similar-articles"><h4 class="block-title"><span>
ARTICLES SIMILAIRES</span></h4>

    <div class="wpb_row row-fluid">

    <div class="span6">

        <div class="td_mod6 td_mod_wrap " itemscope itemtype="https://schema.org/Article">
        <div class="thumb-wrap"><a href="{{path('inno-2015')}}" rel="bookmark" title="Concours national de robotique extérieure &#8211; DGE/ONERA"><img width="326" height="159" itemprop="image" class="entry-thumb" src="{{asset('2.jpg')}}" alt="" title="Concours national de robotique extérieure &#8211; DGE/ONERA"/></a></div>        <h3 itemprop="name" class="entry-title"><a itemprop="url" href="{{path('inno-2015')}}" rel="bookmark" title="Concours national de robotique extérieure &#8211; DGE/ONERA">Concours national de robotique  Innorobots&#8211; 2015</a></h3>
        <div class="meta-info">
                        <time  itemprop="dateCreated" class="entry-date updated" datetime="2016-11-21T15:36:06+00:00" >Nov. 21, 2016</time><meta itemprop="interactionCount" content="UserComments:0"/>            <div class="entry-comments-views"><span class="td-sp td-sp-ico-comments td-fake-click" data-fake-click="../../11/concours-national-de-robotique-exterieure-dgeonera/index.html#respond"></span>0 <span class="td-sp td-sp-ico-view"></span><span class="td-nr-views-15656">14</span></div>        </div>


        <meta itemprop="author" content = "TheDisruptory Team">        </div>

        
    </div> <!-- ./span6 -->

    <div class="span6">

        <div class="td_mod6 td_mod_wrap " itemscope itemtype="https://schema.org/Article">
        <div class="thumb-wrap"><a href="{{path('inno-2016')}}" rel="bookmark" title="Renault-Nissan s’allie à Microsoft pour la voiture connectée"><img width="326" height="159" itemprop="image" class="entry-thumb" src="{{asset('2016-2.jpg')}}" alt="" title="Renault-Nissan s’allie à Microsoft pour la voiture connectée"/></a></div>        <h3 itemprop="name" class="entry-title"><a itemprop="url" href="{{path('inno-2016')}}" rel="bookmark" title="Renault-Nissan s’allie à Microsoft pour la voiture connectée">Concours national de robotique  Innorobots&#8211; 2016</a></h3>
        <div class="meta-info">
                        <time  itemprop="dateCreated" class="entry-date updated" datetime="2016-10-12T14:57:15+00:00" >Oct. 12, 2016</time><meta itemprop="interactionCount" content="UserComments:0"/>            <div class="entry-comments-views"><span class="td-sp td-sp-ico-comments td-fake-click" data-fake-click="../../10/renault-nissan-sallie-microsoft-pour-la-voiture-connectee/index.html#respond"></span>0 <span class="td-sp td-sp-ico-view"></span><span class="td-nr-views-15552">6</span></div>        </div>


        <meta itemprop="author" content = "TheDisruptory Team">        </div>

        
    </div> <!-- ./span6 --></div><!--./row-fluid-->

    <div class="wpb_row row-fluid">

    <div class="span6">

        <div class="td_mod6 td_mod_wrap " itemscope itemtype="https://schema.org/Article">
        <div class="thumb-wrap"><a href="{{path('article')}}" rel="bookmark" title="La faim du travail &#8211; Robotique et emploi"><img width="326" height="159" itemprop="image" class="entry-thumb" src="{{asset('elect.jpg')}}" alt="" title="La faim du travail &#8211; Robotique et emploi"/></a></div>        <h3 itemprop="name" class="entry-title"><a itemprop="url" href="{{path('article')}}" rel="bookmark" title="La faim du travail &#8211; Robotique et emploi">À propos Club elec
  </a></h3>
        <div class="meta-info">
                        <time  itemprop="dateCreated" class="entry-date updated" datetime="2016-10-10T14:52:07+00:00" >Oct. 10, 2016</time><meta itemprop="interactionCount" content="UserComments:0"/>            <div class="entry-comments-views"><span class="td-sp td-sp-ico-comments td-fake-click" data-fake-click="../../10/la-faim-du-travail-robotique-et-emploi/index.html#respond"></span>0 <span class="td-sp td-sp-ico-view"></span><span class="td-nr-views-15543">46</span></div>        </div>


        <meta itemprop="author" content = "TheDisruptory Team">        </div>

        
    </div> <!-- ./span6 -->

    <div class="span6">

        <div class="td_mod6 td_mod_wrap " itemscope itemtype="https://schema.org/Article">
        <div class="thumb-wrap"><a href="{{path('conf')}}" rel="bookmark" title="Le gouvernement donne son feu vert aux essais de voitures autonomes en France"><img width="326" height="159" itemprop="image" class="entry-thumb" src="http://plugandplaymag.com/wp-content/uploads/2016/12/DSC_8477.jpg" alt="" title="Le gouvernement donne son feu vert aux essais de voitures autonomes en France"/></a></div>        <h3 itemprop="name" class="entry-title"><a itemprop="url" href="{{path('conf')}}" rel="bookmark" title="Le gouvernement donne son feu vert aux essais de voitures autonomes en France">Conférence de presse Innorobots 2017</a></h3>
        <div class="meta-info">
                        <time  itemprop="dateCreated" class="entry-date updated" datetime="2016-08-16T15:20:52+00:00" >Août. 16, 2016</time><meta itemprop="interactionCount" content="UserComments:0"/>            <div class="entry-comments-views"><span class="td-sp td-sp-ico-comments td-fake-click" data-fake-click="../../08/voiture-autonome-france/index.html#respond"></span>0 <span class="td-sp td-sp-ico-view"></span><span class="td-nr-views-15375">13</span></div>        </div>


        <meta itemprop="author" content = "TheDisruptory Team">        </div>

        
    </div> <!-- ./span6 --></div><!--./row-fluid--></div>
                        <div class="comments" id="comments">
                                                                                                <div class="comments-title-wrap">
                                                                                <h4 class="block-title"><span> COMMENTS</span></h4>
                                    </div>

                                                                                                            <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">
Laisser un commentaire </h3>    </div><!-- #respond -->
                                                            </div> <!-- /.content -->


                </div>














{% endblock %}