<!DOCTYPE html>
<html>
<head>
 <script type="text/javascript">
        function codeAddress() {
           window.print();
        }
    
        </script>
        <style type="text/css">.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;

  padding: 8px 4px 5px 7px;
  text-decoration: none;
}

</style>
</head>
<body><center>
  <h3>la  liste des étudiants n’ayant pas rendu leurs livres :</h3><br>
<table border="1">
   <tr>
       <th>Nom</th>
       <th>Prenom</th>
       <th>Cin</th>
         <th>Class</th>
           <th>Ville</th>
   </tr>

 
   

{% for item in a %}<tr>
       <td>{{item.etudiant.nom}}</td>
       <td>{{item.etudiant.prenom}}</td>
       <td>{{item.etudiant.cin}}</td>
       <td>{{item.etudiant.class}}</td>
       <td>{{item.etudiant.ville}}</td>
   </tr>
   
{% endfor %}

</table></center>
<header><center><h4>bibliothèque de L'Ensit</h4></header>
&nbsp;&nbsp;&nbsp;&nbsp;<button  class="btn" onclick="codeAddress();">Imprimer</button>
</body>
</html>